@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Playfair+Display:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.textfield > label {
  color: #ffffff;
}

h1 {
    padding-bottom: 30px;
    color: #f6ebf0;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 300;
    font-size: 3vw;
}



body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, #d692c4,#f38fe3);
    background-size: 500% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.box_notas {
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ea55af;
    border-radius: 20px;
    box-shadow: 0px 80px 80px #151012a1;    
}  



#botaoAtualizarRecados {
    display: none;
    cursor: pointer;
  }
  

  .textfield > input {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #f99cf0;
    color: #ffffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px  #cb1d8856;
    outline: none;
    box-sizing: border-box;   
}



.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}


.textfield > input::placeholder {
  color:  #f0ffffde;
}


  table, th, td {  
    border: 1px solid #ffffff; 
    border-radius: 5px; 
    border-collapse: collapse; 
    
     
  }  
  
  th, td {  
    padding: 10px; 
    width: 200px;
    text-align: center;
    color: #ffffff;
  }  
  
  table th {  
    color: white;  
    background-color:  #f99cf0;  
  }  
  
  tbody th{
    opacity: .8;
  }
  
  img{
    margin: 0 15px 0 10px;
    cursor: pointer; 
  }
  
#sair {
        all: unset;
        background-color: #f99cf0;
        color: #ffffff;
        border: none;
        border-radius: 40px;
        width: 15%;
        margin: 20px;
        padding: 15px;
        cursor: pointer;
        text-align: center;
        font-family: 'Fredericka the Great', cursive;
        font-size: 2vw;
}

  input[type=submit]{
    all: unset;
    background-color: #f99cf0;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    width: 15%;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 2vw;
  }
  
  div#msg-erro{
    color: rgb(255, 0, 162)
  }